.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-container {
  display: flex;
  flex: auto;
  background: #f5f7fa;
}

.app-container > div {
  flex: 1;
  display: flex;
}
